body {
 font-family:"Noto Sans",sans-serif;
 color:gray;
}

.wrapper{
  margin:2 rem;
  display: grid;
  gap : 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.card {
  box-shadow: 0 0 10px 5px gray;
  border-radius:25px;
  min-width:28rem;
  display:flex;

}

&__img {
  width: 14rem;
}

}